<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('业务附件列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>主键：</label>
                                <input type="text" name="unid"/>
                            </li>
                            <li>
                                <label>来源系统代码：</label>
                                <input type="text" name="fromareacode"/>
                            </li>
                            <li>
                                <label>来源系统名称：</label>
                                <input type="text" name="fromareaname"/>
                            </li>
                            <li>
                                <label>接收系统代码：</label>
                                <input type="text" name="toareacode"/>
                            </li>
                            <li>
                                <label>接收系统名称：</label>
                                <input type="text" name="toareaname"/>
                            </li>
                            <li>
                                <label>创建时间：</label>
                                <input type="text" class="time-input" placeholder="请选择创建时间" name="createtime"/>
                            </li>
                            <li>
                                <label>备用字符字段1：</label>
                                <input type="text" name="tchar1"/>
                            </li>
                            <li>
                                <label>备用字符字段2：</label>
                                <input type="text" name="tchar2"/>
                            </li>
                            <li>
                                <label>备用字符字段3：</label>
                                <input type="text" name="tchar3"/>
                            </li>
                            <li>
                                <label>备用字符字段4：</label>
                                <input type="text" name="tchar4"/>
                            </li>
                            <li>
                                <label>备用二进制字段1：</label>
                                <input type="text" name="tblob1"/>
                            </li>
                            <li>
                                <label>备用二进制字段2：</label>
                                <input type="text" name="tblob2"/>
                            </li>
                            <li>
                                <label>系统时间：</label>
                                <input type="text" class="time-input" placeholder="请选择系统时间" name="systime"/>
                            </li>
                            <li>
                                <label>同步状态：</label>
                                <input type="text" name="syncstate"/>
                            </li>
                            <li>
                                <label>同步时间：</label>
                                <input type="text" class="time-input" placeholder="请选择同步时间" name="synctime"/>
                            </li>
                            <li>
                                <label>同步情况：</label>
                                <input type="text" name="syncdesc"/>
                            </li>
                            <li>
                                <label>业务编号：</label>
                                <input type="text" name="busino"/>
                            </li>
                            <li>
                                <label>${comment}：</label>
                                <input type="text" name="batchno"/>
                            </li>
                            <li>
                                <label>${comment}：</label>
                                <input type="text" class="time-input" placeholder="请选择${comment}" name="systime2"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:busisysattr:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:busisysattr:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:busisysattr:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:busisysattr:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:busisysattr:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:busisysattr:remove')}]];
        var prefix = ctx + "system/busisysattr";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "业务附件",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'unid',
                    title: '主键'
                },
                {
                    field: 'fromareacode',
                    title: '来源系统代码'
                },
                {
                    field: 'fromareaname',
                    title: '来源系统名称'
                },
                {
                    field: 'toareacode',
                    title: '接收系统代码'
                },
                {
                    field: 'toareaname',
                    title: '接收系统名称'
                },
                {
                    field: 'content',
                    title: '实体内容'
                },
                {
                    field: 'createtime',
                    title: '创建时间'
                },
                {
                    field: 'tchar1',
                    title: '备用字符字段1'
                },
                {
                    field: 'tchar2',
                    title: '备用字符字段2'
                },
                {
                    field: 'tchar3',
                    title: '备用字符字段3'
                },
                {
                    field: 'tchar4',
                    title: '备用字符字段4'
                },
                {
                    field: 'tblob1',
                    title: '备用二进制字段1'
                },
                {
                    field: 'tblob2',
                    title: '备用二进制字段2'
                },
                {
                    field: 'systime',
                    title: '系统时间'
                },
                {
                    field: 'syncstate',
                    title: '同步状态'
                },
                {
                    field: 'synctime',
                    title: '同步时间'
                },
                {
                    field: 'syncdesc',
                    title: '同步情况'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    field: 'busino',
                    title: '业务编号'
                },
                {
                    field: 'batchno',
                    title: '${comment}'
                },
                {
                    field: 'systime2',
                    title: '${comment}'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.unid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.unid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>