<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增caseUpload')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-caseUpload-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">办件编号：</label>
                <div class="col-sm-8">
                    <input name="sn" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据推送方社会信用代码：</label>
                <div class="col-sm-8">
                    <input name="fromCode" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">办件信息xml：</label>
                <div class="col-sm-8">
                    <input name="wsspXml" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">过程信息xml：</label>
                <div class="col-sm-8">
                    <input name="nextXml" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计时暂停xml：</label>
                <div class="col-sm-8">
                    <input name="suspendXml" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计时恢复xml：</label>
                <div class="col-sm-8">
                    <input name="resumeXml" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结果信息xml：</label>
                <div class="col-sm-8">
                    <input name="finishXml" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">邮递服务xml：</label>
                <div class="col-sm-8">
                    <input name="expressXml" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">时间戳 格式：yyyy-MM-dd HH:mm:ss：</label>
                <div class="col-sm-8">
                    <input name="auditTimestamp" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">创建记录的系统时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="createdTime" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">修改记录的系统时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="updatedTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">记录的版本：</label>
                <div class="col-sm-8">
                    <input name="version" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据创建人ID：</label>
                <div class="col-sm-8">
                    <input name="createdUserId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据更新人ID：</label>
                <div class="col-sm-8">
                    <input name="updatedUserId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">扩展字段，json对象,示例：{"SN":?"办件编号","fromCode":?"数据推送方社会信用代码",//例省住建厅：113500000035912564"projectCode":?"项目代码",//涉及工改的办件数据为必填"coprojectName":?"协同项目名称","toCode":?"地市或者市县编码","nationalSysid":?"国家垂管系统id",//国家垂管系统整合时时候：</label>
                <div class="col-sm-8">
                    <input name="formInfos" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">${comment}：</label>
                <div class="col-sm-8">
                    <input name="record" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否拉取至仲裁系统：</label>
                <div class="col-sm-8">
                    <input name="isReflux" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/caseUpload"
        $("#form-caseUpload-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-caseUpload-add').serialize());
            }
        }

        $("input[name='createdTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='updatedTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>